<div class="container-fluid">
  <form class="form-horizontal">
    <div class="col-lg-6">
      <br>
      <div>
        <h1>{{title}}</h1>
      </div>
      <br>
      <div class="form-group">
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#uploadModal">
          Upload Image
          <i class="glyphicon glyphicon-upload" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#galleryModal">
          Gallery Image
          <i class="glyphicon glyphicon-picture" aria-hidden="true"></i>
        </button>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-8">
          <app-selected-image [selectedImages]="selectedImages"></app-selected-image>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <app-carousel [interval]="nextPhotoInterval" [noWrap]="noLoopSlides">
            <app-slide *ngFor="let image of selectedImages; let i = index">
              <img [src]="image.url" class="img-responsive" style="margin:auto;" data-toggle="modal"
                   data-target="#imageModal" (click)="selectImage(image)">
              <div class="carousel-caption">
                <br>
                <p style="background-color: transparent;color: white;">{{image.name}}</p>
              </div>
            </app-slide>
          </app-carousel>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="imageModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog" role="document">
        <br>
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-heading"><h4>{{imageName}}</h4></div>
              <img class="panel-body" [src]="imageUrl">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="uploadModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <br>
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-heading">Upload</div>
              <div class="panel-body">
                <app-upload [selectedImages]="selectedImages"></app-upload>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div id="galleryModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog">
        <br>
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-heading">Galley</div>
              <div class="panel-body">
                <app-gallery [selectedImages]="selectedImages"></app-gallery>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
